body{
    height:100vh;
}
.site-content{
    margin-bottom:0;
    margin-top: 100px;
}
@media (max-width: 768px) { 
    .site-content{
        margin-top:170px;
        padding: 10px;
    }
}
.item-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    padding: 10px 0;
    width:450px;
    height:180px;
    overflow: hidden;
  }
  .item>a{
    display: block;
    display: flex;
  }
  .item .cover,
  .item .cover img{
    width: 80px;
    padding-top: 10px;
  }
  .item .detail {
    padding-left: 20px;
  }
  .item .detail h2{
    font-size: 16px;
  }
  .item .detail .extra{
    color: #999;
    margin-top: 4px;
  }
  .item .detail .score{
    color: #FF5722;
  }
#jumbotron{
  height: 100%;
  margin-bottom: 0;
  padding: 150px 50px;
  text-align: center;
}
.page-bottom{
  display: none;
}